
@import '../../../App'

.LeftPanel 
    background: $primary-color
    max-width: 250px
    padding: 40px 15px
    border-radius: 15px

    display: flex
    flex-direction: column
    justify-content: center
    align-items: center

    .Profile-picture-container
        margin-bottom: 30px

        .Profile-picture
            height: 120px
            width: 120px
            object-fit: cover
            border-radius: 50%
            box-shadow: 5px 5px 10px #0000006c

    h1 
        font-size: 1.2rem
        color: white
        margin-bottom: 40px
        text-align: center

    button
        border-radius: 30px
        padding: 13px 35px
        background: $secondary-color
        box-shadow: 5px 5px 10px #0000006c

    
