* 
    outline: none
    
    // box-sizing: border-box
@mixin container($max-width)
    margin: 0 auto 
    width: 80%
    max-width: $max-width


$primary-color: #2d132c
// $primary-color: #4D5C87
// $primary-color: black
//------------>   DETAILS PAGE <-----------
$details-bg-container: #222831
// $details-bg-container: 
$details-title: white
$details-h1: white
$details-p: #BAB8C1
$secondary-color: #801336
$orange-color: #c72c41
$orange-color-2: #ee4540


.container 
    @include container(1500px)
// .lg-container



    

.btn-primary
    padding: 10px 30px
    border-radius: 5px
    border-style: none 
    color: white
    letter-spacing: .5px
    text-transform: uppercase
    font-weight: 700
    font-size: .9rem
    background: $orange-color
    cursor: pointer
    box-shadow: 5px 5px 10px #0000003a
    
.App
    overflow-y: hidden

    