@import '../../App'
.Nav
    box-sizing: border-box
    background: $secondary-color
    box-shadow: 5px 10px 10px #0000001f
    z-index: 10
    position: relative
    


    .logo 
        img
            height: 30px

    .search-bar
        position: relative
        // background: red


        input
            width: 200px
            padding: 10px 15px
            border-radius: 30px
            border-style: none
            background: darken($secondary-color, 10%)
            color: white

            &::placeholder 
                color: #bbbbbb
                font-weight: 700
            

        button
            position: absolute
            top: 10px
            right: 13px
            color: grey
            padding: 0
            margin: 0
            background: transparent
    &-container
        display: flex
        justify-content: space-between
        align-items: center
        height: 65px

        nav
            ul
                display: flex
                width: 150px
                display: flex
                justify-content: space-around
                li
                    list-style: none
                i
                    padding: 20px 15px
                    color: white
                    font-size: 1.2rem
                    text-shadow: 5px 5px 5px #00000050
    .menu-icon 
        display: none
        color: rgb(255,242,0)
        font-size: 1.7rem 
        padding: 10px
@media (max-width: 700px)
    .Nav
        // background: red
        .search-bar
            display: none
        &-container
                nav
                    display: none
        .menu-icon 
            display: block
            